{% extends "empty.html.twig" %}
{% block title %}Modification des comptes{% endblock %}
{% block head %} {{parent()}} {% endblock %}
{% block base %}{{parent()}}{% endblock %}
{% block content %}
        {% if prenomAffich is defined %}
        <div class="container">
            <div class="row row-cards">
    
            {% for i in 0..prenomAffich|length-1 %}
            <div class="col-md-6 col-xl-4">
                <div class="card text-center">
                <br>

                <p>Nom de l'employé : <b>{{nomAffich[i]|capitalize}}</b></p>
                <p>Prénom de l'employé : <b>{{prenomAffich[i]|capitalize}}</b></p>
                <p>Equipe : <b>{{team[i]}}</b></p>
                <p>Hiérarchie : <b>{{hierarchieAffich[i]}}</b></p>
                <p>id : <b>{{idAffich[i]}}</b></p>
                

                <form action="Modification.php" method = "POST">
                <div>
                    <input type="submit" value="supprimer" class="btn btn-primary ml-auto" >
                </div>
                    <input type="hidden" name="id" value = {{idAffich[i]}}>
                    <!-- <input type="hidden" name="accréditation" value ="accepté"> -->
                </form>
                <br>
                {% if accreditationAffich[i] in [1,2] %}

                    <form action="Modification.php" method = "POST">
                    <div>
                        <input type="submit" value="restreindre" class="btn btn-primary ml-auto" >
                    </div>
                        <input type="hidden" name="id" value = {{idAffich[i]}}>
                        <input type="hidden" name="accreditation" value = "0">
                    </form>
                <br>
                {% endif %}
                    
                {% if accreditationAffich[i] == 1 %}

                    <form action="Modification.php" method = "POST">
                    <div>
                        <input type="submit" value="promouvoir"  class="btn btn-primary ml-auto">
                    </div>
                        <input type="hidden" name="id" value = {{idAffich[i]}}>
                        <input type="hidden" name="accreditation" value = "2">
                        <input type="hidden" name="hierarchie" value = "Responsable">
                    </form>
                <br>
                {% endif %}

                {% if accreditationAffich[i] == 2 %}

                    <form action="Modification.php" method = "POST">
                    <div>
                        <input type="submit" value="retrograder"  class="btn btn-primary ml-auto">
                    </div>
                        <input type="hidden" name="id" value = {{idAffich[i]}}>
                        <input type="hidden" name="accreditation" value = "1">
                        <input type="hidden" name="hierarchie" value = "Collaborateur">
                    </form>
                <br>
                {% endif %}

                {% if accreditationAffich[i] == 0 %}

                    <form action="Modification.php" method = "POST">
                    <div>
                        <input type="submit" value="réactiver"  class="btn btn-primary ml-auto">
                    </div>
                        <input type="hidden" name="id" value = {{idAffich[i]}}>

                        {% if hierarchieAffich[i] == "Collaborateur" %}

                            <input type="hidden" name="accreditation" value = "1">

                        {% else %}

                            <input type="hidden" name="accreditation" value = "2">

                        {% endif %}
                       
                    </form>
                <br>
                {% endif %}

                <br>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
        {% else %}
    
            <script>alert("Pas de compte")</script>
    
        {% endif %}
{% endblock %}